 
.btn-round-custom {
    box-shadow: none !important;
    border: none !important;
    padding: 10px 20px !important;
    background: #0067b1;
    font-weight: normal !important;
    border-radius: 10px !important;
    border: 1px solid transparent !important;
    line-height: 1.428571;
}
.ExclusiveOfferCard {
    border: 1px solid #bababa99;
    padding: 12px;
    background: #fff;
    display: flex;
    align-items: flex-start;
}
.image-wrapper > img {
    width: 100%;
    border-radius: 24px;
}
.left {
    width: calc(40% - 4px);
}
.right {
    width: calc(60% - 4px);
    padding-left: 24px;
}
.right a {
    padding-left: 0;
}
.right > p {
    max-width: 80%;
    margin-top: 24px;
    font-size: 18px;
    line-height: 28px;
}
.offerLink img {
    width: 100%;
}
/* mobile resoponsive code */
@media only screen and (max-width: 768px) {
.left, .right {
    width: 100%;
    padding: 8px;
}
.right > p {
    max-width: 100%;
    margin-top: 24px;
    font-size: 18px;
    line-height: 28px;
}
.ExclusiveOfferCard {
    display: block;
}
}
 